a:visited,
a:hover,
a:active,
a:link {
    color: black;
}
.SocialButton {
    padding: .5em;
    margin-right: 0.5em;
    border-width: 1;
    border-color: black;
    border-style: solid;
    border-radius: 5;
}

.SocialButton .innerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: .05em;
}

.SocialButton svg {
    margin-left: .2em;
}