header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

header a {
    text-decoration: underline;
    color: #fff;
}

@media (min-width: 992px) { 
    header {
        justify-content: space-around;
        height: 100vh;
        position: fixed;
        max-width: 408px;
    }
}

@media (min-width: 1280px) { 
    header {
        max-width: 496px;
    }
    header h1 {
        font-size: 64px;
        line-height: 1;
    }
}