.Header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

@media (min-width: 992px) { 
    .Header {
        justify-content: space-around;
        height: 100vh;
        position: fixed;
        max-width: 408px;
    }
}

@media (min-width: 1280px) { 
    .Header {
        max-width: 496px;
        padding-left: 88px;
        padding-bottom: 88px;
    }
    .Header h1 {
        font-size: 64px;
        line-height: 1;
    }
}