#projects .title {
    color: #fff;
    font-size: 2.4em;
    font-weight: 600;
}
#projects .description {
    margin-top: .8em;
    font-size: 1.4em;
}

#projects .tech-list {
    display: flex;
    flex-wrap: wrap;
}

#projects .tech-list li {
    margin-right: 1em;
    padding: .5em .5em .3em .5em;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border-radius: 5%;
    border: 1px solid #666;
}

