@media (min-width: 992px) {
    .Projects {
        padding-top: 88px;
        margin-top: -96px;
    }
}

.Projects ul {
    list-style-type: none;
}

.Projects li {
    margin-top: 1.5em;
}

.Project {
    padding: 4.5em;
    background-color: #202022;
}

.Project-title {
    color: #fff;
    font-size: 2.4em;
    font-weight: 600;
}
.Project .description {
    margin-top: .8em;
    font-size: 1.4em;
}

.TechList {
    display: flex;
    flex-wrap: wrap;
}

.TechList li {
    margin-right: 1em;
    padding: .5em .5em .3em .5em;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border-radius: 5%;
    border: 1px solid #666;
}

